:root{
  --primary-color:#ffe8e8;
  --secondary-color:#ffdcdc;
  --third-color:#ffdcdc;
}
.App {
  text-align: center;
}
nav {
  z-index: 2;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-wrapper {
  position: relative;
  background: url(cover.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
} 
.header-wrapper2 {
  position: relative;
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header-wrapper3 {
  position: relative;
  background-color: var(--third-color);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-information {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-information h1 {
  color: var(--primary-color);
  text-transform: uppercase;
}
.typed-text {
  font-size: 2rem;
  color: var(--primary-color);
}
.tsparticles-canvas-el{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}